page-home {
    .body{
        position: relative;
        background-image:url('../../assets/imgs/background2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .posT{
        top: 15%;
        font-size: 2.6em;
        font-family: cursive;
        margin:auto;
        text-align-last: center;
        color: rgb(131, 63, 31)
    }

    
    .posB{
        color: rgb(131, 63, 31);top: 50%;
        font-size: 1.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 30%;
        text-align-last: center;
    }
}
